.logo{
    width: auto;
    height: 40px;
}
.Navbarmain{
   /* position: fixed; */
   width: auto;
}
.form-control{
    width: 300px;
}
.cart{
    margin-left: 80px;
    /* font-size: 30px;
    padding-bottom: 20px; */
    /* float: left; */
}