.form-control{
    width: 400px;
    margin-top: 5px;
}
.Cart{
    text-align: right;
    font-size: 30px;
}
.Carts{
    margin-right: 20px;
    color: white;
}
.search{
    text-align: end;
    margin-top: 9px;
}
@media screen and (max-width:767px) {
    .form-control{
        width: 170px;
    }
}
/* @media screen and (min-width:768px) {
    .form-control{
        width: 400px;
    }
} */